<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cards Against Humanity</title>
    <link rel="stylesheet" href="~/Content/css/style.css" />
    <script type="text/javascript" src="~/Scripts/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript" src="~/Content/js/game.js"></script>
</head>
<body>
<aside id="sidebar">
    <section class="user">
        <span class="username"><img src="~/Content/img/cah-logo-small.png" class="profile-logo" />FrankTanic</span>
    </section>
    <section class="game-name">
        <span class="g-name">@Model.GameName</span>
    </section>
    <section class="players-overview">
        <table id="players">
            @foreach (var player in Model.Players)
            {
                <tr>
                    <td id="@player.ID">
                        @player.UserName @if (player.Czar == 1)
                        { <text><span class="czar">(Czar)</span></text> }
                    </td>
                    <td>
                        0
                    </td>
                </tr>
            }
        </table>
    </section>
    <section class="notes">
        <h2>Notes</h2>
        <div id="notes"></div>
        <ul id="connected"></ul>
    </section>
</aside>
<div class="container">
    <header>
        <div class="leave">
            <img src="~/Content/img/arrow_back_white.png" />
        </div>
        <div class="logo center-block">
            <img src="~/Content/img/cah-logo-medium.png" />
        </div>
    </header>
    @RenderBody()
</div>
</body>
</html>
