html, body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
    background-color: #C5CAE9;
}

.indigo {
    background-color: #3f51b5;
}

h2 {
    color: #1A237E;
}

.center-block {
    margin: 0 auto;
}

/* LOGIN FROM */

.create-form {
    width: 300px;
    margin-top: 50px;
    padding: 10px 5px 10px;
    text-align: center;
}


/* HEADER */

header {
    width: 100%;
    height: 60px;
    background-color: #3F51B5;
}

.logo {
    width: 300px;
}

.leave {
    float: left;
    width: 32px;
    height: 32px;
    margin: 14px 10px;
}

/* SIDEBAR */

#sidebar {
    float: right;
    height: 100%;
    width: 20%;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.6);
}

#sidebar table {
    width: 100%;
}

.user {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #212121;
    color: #fff;
}

.username {
    display: inline;
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 20pt;
    color: #fff;
}

.profile-logo {
    display: inline;
    margin-right: 5px;
}

.game-name {
    padding: 10px;
    background-color: #3949AB;
}

.g-name {
    color: #fff;
}

.players-overview {
    padding: 10px;
}

.notes {
    padding: 10px;
}

/* CONTAINER*/

.wrapper {
    height: 100%;
    width: 100%;
}

.container {
    position: relative;
    float: left;
    height: 100%;
    width: 80%;
}

.row {
    margin: 10px 0 10px;
}

.seperate {
    position: absolute;
    bottom: 300px;
    width: 100%;
    padding: 0 10px 0 10px;
    text-align: center;
    border-top: 1px solid #fff;
}

.round {
    position: absolute;
    top: -32px;
    display: inline-block;
    width: 64px;
    height: 64px;
    background: url('../img/round.png') no-repeat;
    border: none;
    cursor: pointer;
}

/* BLACK CARD */

.black-card-view {
    float: left;
    width: 200px;
    height: 300px;
    margin-left: 50px;
    margin-top: 50px;
}

#black-card {
    width: 150px;
    height: 200px;
    padding: 10px;
    color: #fff;
    background-color: #000;
    border-radius: 10px;
}

/* WHITE CARDS */

.cards-scroller {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 250px;
    overflow-x: auto;
    overflow-y: hidden;
}

.cards-view {
    width: 1400px;
}

.white-card {
    float: left;
    position: relative;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    height: 150px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.6);
    border-radius: 8px;
}

.playCard {
    position: absolute;
    right: 10px;
    bottom: 5px;
    width: 24px;
    height: 24px;
    background: url('../img/check.png') no-repeat;
    border: none;
    cursor: pointer;
}

.playCard:hover {
    background: url('../img/check-hover.png') no-repeat;
}

/* WHITE CARDS PLAYED */

.white-card-played {
    float: left;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    height: 150px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.6);
    border-radius: 8px;
}

.played-card-view {
    float: left;
    width: 70%;
    height: 250px;
    margin-top: 50px;
    overflow-x: auto;
}

/* INPUT */

input[type="text"] {
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
}

.btn {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    color: #fff;
    background-color: #5C6BC0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #7986CB;
}

/* INPUT VALIDATION */

.field-validation-error {
    display: block;
    margin: 5px 0 5px;
    color: #64ffda;
}
