body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}


/* Header Bar */

header {
    width: 100%;
    height: 60px;
    background-color: #243d51
}

.container {
    position: fixed;
    height: 100%;
    width: 100%;
}

.sidebar-holder {
    position: fixed;
    top: 0px;
    right: 0;
    padding-left: 10px;
    width: 300px;
    height: 100%;
    background-color: #ccc;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.sidebar-gameinfo {
    margin-top: 50px;
    width: 300px;
    height: 100%;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

label {
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

input.toggle ~ div.sidebar-holder { 
  height: 100%;
  overflow: hidden;
  transition: .6s all cubic-bezier(0.730, -0.485, 0.145, 1.620)
}
input.toggle:checked ~ div { height: 100%; right:-280px }
input.toggle:checked + label { background: red; right:30px;}
input.toggle { display: none;  }
label { background: red; position: fixed; right: 310px; top: 0px; }

/* Black card styling */

.black-card-view {
    position: relative;
    width: 200px;
    height: 300px;
    margin-left: 100px;
    margin-top: 50px;
}

#black-card {
    width: 150px;
    height: 200px;
    padding: 10px;
    color: #fff;
    background-color: #000;
    border-radius: 10px;
}

.white-card {
    float: left;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    height: 150px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
}

.white-card-played {
    float: left;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    height: 150px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
}

.played-card-view {
    width: 100%;
    height: 300px;
}