body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}


/* Header Bar */

header {
    width: 100%;
    height: 60px;
    background-color: #243d51
}

.container {
    position: relative;
    height: 100%;
}

.sidebar-gameinfo {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #ccc;
}

/* Black card styling */

.black-card-view {
    position: relative;
    width: 200px;
    height: 300px;
    margin-left: 100px;
    margin-top: 50px;
}

#black-card {
    width: 150px;
    height: 200px;
    padding: 10px;
    color: #fff;
    background-color: #000;
    border-radius: 10px;
}

.white-card {
    float: left;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    height: 150px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
}