
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="black-card-view">
    
</div>

<div class="played-card-view">
    <button id="nextRound">Next Round</button>
</div>

<div class="cards-view">

</div>

<div class="sidebar-gameinfo">
    <ul>
        <li>Game ID: @Model.ID</li>
        <li>Created: @Model.Created</li>
    </ul>

    <ul id="connected"></ul>

    <h2>Match</h2>

    <ul id="players">
        @foreach (var player in Model.Players)
        {
            <li>@player.UserName @if (player.Czar == 1) { <text>(Czar)</text> }</li>
        }
    </ul>
</div>
