
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    <li>Game ID: @Model.ID</li>
    <li>Created: @Model.Created</li>
</ul>

<ul id="connected">
</ul>

<h2>Match</h2>

<ul id="players">
</ul>

